/* START ant panel base */
.ant-panel {
    position: relative;
    z-index: 10;
    flex: 0 0 auto;
    width: 100%;
    padding: 1rem;
    background: var(--bs-light);
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
}
.ant-panel .form-field,
.ant-panel .form-control,
.ant-panel .form-select,
.ant-panel .btn-group,
.ant-step-panel .btn {
    flex-grow: 1;
}
.ant-panel .form-select {
    width: 100%;
}
/* END ant panel base */

/* START ant subpanels */
.ant-data-panel,
.ant-action-panel,
.ant-main-panel,
.ant-step-panel,
.ant-add-step-panel {
    flex-direction: column !important;
}
.ant-data-panel > .vr,
.ant-action-panel > .vr,
.ant-main-panel > .vr,
.ant-step-panel > .vr,
.ant-add-step-panel > .vr {
    display: none;
}
.ant-step-number {
    font-size: 1.5rem;
    font-weight: bold;
}
/* END ant subpanels */

/* START ant panel modifiers */
.ant-panel-hidden hr,
.ant-panel-hidden .ant-data-panel,
.ant-panel-hidden .ant-action-panel {
    display: none;
}
.ant-panel-reduced .ant-data-panel,
.ant-panel-reduced .ant-data-panel + hr,
.ant-panel-reduced .ant-add-step-panel > .vr,
.ant-panel-reduced .ant-add-step-buttons-panel {
    display: none;
}
/* END ant panel modifiers */

/* START ant panel screen breakpoints */
@media screen and (min-width: 460px) {
    .ant-panel .form-field,
    .ant-panel .form-control,
    .ant-panel .form-select,
    .ant-panel .btn-group,
    .ant-step-panel .btn {
        flex-grow: 0;
    }
    .ant-panel .form-select {
        width: auto;
    }
    .ant-main-panel {
        flex-direction: row !important;
    }
    .ant-main-panel > .vr {
        display: inline-block;
    }
}

@media screen and (min-width: 640px) {
    .ant-data-panel,
    .ant-add-step-panel, 
    .ant-panel-reduced .ant-step-panel {
        flex-direction: row !important;
    }
    .ant-data-panel > .vr,
    .ant-add-step-panel > .vr,
    .ant-panel-reduced .ant-step-panel > .vr {
        display: inline-block;
    }
}

@media screen and (min-width: 960px) {
    .ant-step-panel,
    .ant-panel-reduced .ant-action-panel {
        flex-direction: row !important;
    }
    .ant-step-panel > .vr,
    .ant-panel-reduced .ant-action-panel > .vr {
        display: inline-block;
    }
}

@media screen and (min-width: 1400px) {
    .ant-action-panel {
        flex-direction: row !important;
    }
    .ant-action-panel > .vr {
        display: inline-block;
    }
}
/* END ant panel screen breakpoints */
